https://www.interviewqs.com/ddi-code-snippets/rows-cols-python

In [1]:
import pandas as pd

In [2]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
'age': [20, 19, 22, 21],
'favorite_color': ['blue', 'blue', 'yellow', "green"],
'grade': [88, 92, 95, 70]}

df = pd.DataFrame(raw_data)
df.head()

               name  age favorite_color  grade
0    Willard Morris   20           blue     88
1       Al Jennings   19           blue     92
2      Omar Mullins   22         yellow     95
3  Spencer McDaniel   21          green     70

In [4]:
df['test'] = 1

In [5]:
df.head()

               name  age favorite_color  grade  test
0    Willard Morris   20           blue     88     1
1       Al Jennings   19           blue     92     1
2      Omar Mullins   22         yellow     95     1
3  Spencer McDaniel   21          green     70     1

In [3]:
array = ['yellow', 'green']
# df.loc[df['favorite_color'].isin(array)]
df['favorite_color'].isin(array)

0    False
1    False
2     True
3     True
Name: favorite_color, dtype: bool

In [15]:
def check(df_to_cluster, key, check_list, account_type):
    df_to_cluster[account_type] = df_to_cluster[key].isin(check_list)
    return df_to_cluster

In [ ]:
''' checks to see if the customer id is present in the corresponding list for example it checks to see if the respective customer ids present in  the customer table have savings accounts'''

In [18]:
check(df, 'age', [45, 100, 20], 'savings_acc')

               name  age favorite_color  grade  test  savings  savings_acc
0    Willard Morris   20           blue     88     1    False         True
1       Al Jennings   19           blue     92     1    False        False
2      Omar Mullins   22         yellow     95     1    False        False
3  Spencer McDaniel   21          green     70     1    False        False

In [19]:
df = pd.DataFrame(dict(
    r=[1, 5, 2, 2, 3],
    theta=['processing cost','mechanical properties','chemical stability',
           'thermal stability', 'device integration']))

In [20]:
df

   r                  theta
0  1        processing cost
1  5  mechanical properties
2  2     chemical stability
3  2      thermal stability
4  3     device integration